*{
    margin:0;
    padding: 0;
}
body{ font-size:62.5%;
    overflow-x:hidden;
}

.header
{
    background-color:#5fc0cd;
    overflow: hidden;
    display: flex; 
    justify-content: flex-end;
    line-height: 4;
    position: sticky;
    top: 0;
}
.header_middle
{
    margin: auto;
    line-height: 6;
}

.header i
{
    background-image: url(image/01.png);
    background-position: 0px, 0px;
    width: 41px;
    height: 50px;
    margin-right: 14px;
    margin-top:12px;
    transform: scale(0.8);
}
.button1
{
    border: none;
    width: 120px;
    line-height: 3;
    border-radius: 6px;
    background-color: #55a8b3;
    color: white;
    font-size: 18px;
}
.button2
{
    border: none;
    width: 120px;
    line-height: 3;
    border-radius: 6px;
    background-color:white;
    color:#55a8b3;
    margin-left: -6px;
    font-size: 18px;
}
.menu
{
    position: sticky;
    width: 100%;
    height: 42px;
    text-align: center;
    list-style: none;
    font-size: 18px;
    border-bottom: 1px solid #e1e5e7;
    color: #b3bec4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 72px;
    background-color: white;
}
.menu ul
{
    list-style: none;
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid #e1e5e7;
    line-height: 3;
    margin-left: -1px;
    margin-top: 1px;
    
}
.menu i
{
    background-image: url(image/01.png);
    width: 15px;
    height: 9px;
    background-position: 25px 0px;
    position: absolute;
}
.menu_1 
{
    width: 33.3%;
    border-right: 1px solid #e1e5e7;
    cursor: pointer;
    position: relative;
    line-height: 2.2;
}

.menu_01
{
    display:none;
    z-index: 2;
    width: 31.5%;
    left:0;
} 
.menu_1:hover .menu_01
{
    display: block;
}
.menu_2:hover .menu_02
{
    display: block;
}
.menu_3:hover .menu_03
{
    display: block;
}

.menu_01 li:hover 
{
    box-shadow: 0px 0px 3px #bababa inset;
}
.menu_02 li:hover 
{
    box-shadow: 0px 0px 3px #bababa inset;
}
.menu_03 li:hover
{
    box-shadow: 0px 0px 3px #bababa inset;
}
.menu_1 i
{
    top: 42%;
    right: 4%;
}
.menu_1 li
{
    border-bottom: 1px solid #e1e5e7;
    cursor: pointer;
    font-size: 14px;
}
.menu_2 li
{
    border-bottom: 1px solid #e1e5e7;
    cursor: pointer;
    font-size: 14px;
}
.menu_3 li
{
    border-bottom: 1px solid #e1e5e7;
    cursor: pointer;
    font-size: 14px;
}
.menu_2 
{
    width: 33.3%;
    border-right: 1px solid #e1e5e7;
    cursor: pointer;
    position: relative;
    line-height: 2.2;
}
.menu_02
{
    display:none;
    z-index: 2;
    background: white;
    width: 29.5%;
} 
.menu_2 i
{
    right: 4%;
    top: 45%;
}
.menu_3 
{
    width: 33.3%;
    cursor: pointer;
    position: relative;
    line-height: 2.2;
}
.menu_03
{
    display:none;
    z-index: 2;
    width: 37.2%;
} 

.menu_03 li
{
text-align: center;
}
.menu_3 i
{
    top: 45%;
    right: 4%;
}
.information
{
    width: 100%;
    margin: auto;
    overflow:  auto;
    height: 672px;
}
.information_1
{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e5e7; 
    color: #a6a6a6;
}
.information_1 p{
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 24px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.information i
{
    background-image: url(image/01.png);
    width: 29px;
    height: 26px;
    float: left;
    zoom: 0.8;
    margin-right: 0.5%;
}
.information_left
{
    width: 59%;
    font-size: 16px;
    margin-left: 2.5%;
}
.left_1
{
    background-position: 52px 0px;
    
}
.left_2
{
    background-position: 52px 26px;;
    
}
.information_right
{
    font-size: 19px;
    color: red;
    font-weight: bolder;
    margin-right: 2.5%;
    line-height: 2.3;
}
.information_right b
{
    color: #55a8b3;
    font-size: 28px;
}
.footer
{
    width: 100%;
    line-height: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom:0;
    background-color: white;
}
.footer i{
    background-image: url(image/01.png);
    float: left;
    
}
.footer_2
{
    background-color: #55a8b3;
    width: 70px;
    height: 64px;
    border-radius: 100px;
}
.footer_1 p{
    margin-left: 11px;
    color: #55a8b3;
}

.icon_01
{
    background-position: 99px 2px;
    width: 49px;
    height: 43px;
    margin-top: 6px;
    transform: scale(0.8);
    margin-bottom: -14px;
}
.icon_02
{
    background-position: -42px 3px;
    margin-left: 14px;
    margin-top: 7px;
    width: 45px;
    height: 43px;
    transform: scale(0.8);
}

.footer_3 p
{
    color:#b2b2b2; 
    margin-left: 11px;
}
.icon_03
{
    background-position: -85px 0px;
    width: 45px;
    height: 43px;
    transform: scale(0.8);
    margin-bottom: -14px;
    margin-top: 6px;
}
